@import "bootstrap.less";

@grid-gutter-width: 10px;

.page-header {
  .clearfix;
  margin-top: 0px;

  h1 {
    width: 350px;
    display: block;
    .pull-left;
  }

  .search {
    .pull-right;
    margin-top: 25px;
    width: 281px;
    position: relative;

    input {
      .pull-left;
      margin-right: 10px;
      padding-right: 30px;
      width: 200px;
    }

    .clear {
      position: absolute;
      top: 4px;
      background: white;
      padding: 4px;
      left: 172px;
      font-size: 17px;
      color: #888;
      cursor: pointer;
      opacity: 1;

      .transition(~"opacity 0.3s");
      &:hover {
        color: #555;
        text-decoration: none;
      }
    }

    &.empty {
      .clear {
        opacity: 0;
        .transition(~"opacity 0.3s");
      }
    }
  }
}

.photos {
  .index {
    z-index: 2;
    position: relative;
  }

  .empty,
  .index {
    opacity: 1;
    .transition(~"opacity 0.3s");
  }

  .loading-indicator {
    opacity: 0;
    z-index: 1;
    .transition(~"opacity 0.3s");
    position: absolute;
    top: 250px;
    left: 50%;
    width: 68px;
    margin-left: -34px;
    .spinner {
      top: 36px;
      left: -40px;
    }
    .text {
      font-size: 50px;
      color: #888;
    }
  }

  &.loading {
    .empty,
    .index {
      opacity: 0;
      .transition(~"opacity 0.3s");
    }

    .loading-indicator {
      opacity: 1;
      .transition(~"opacity 0.3s");
    }
  }

  .photo {
    height: 306px;
    position: relative;

    .image {
      display: block;
      height: 120px;
      width: 170px;
      overflow: hidden;
      background: #ddd;

      img {
        min-height: 120px;
        min-width: 170px;
        opacity: 1;
        .transition(~"opacity 0.5s");
      }

      &.loading {
        img {
          .transition(~"opacity 0.5s");
          opacity: 0;
        }
      }

    }

    .caption {
      padding: 5px 2px;

      h4.title {
        margin: 0 0 2px;
        font-size: 12px;
        max-height: 28px;
        overflow: hidden;
      }

      h5.author {
        margin: 0 0 5px;
        font-size: 11px;
      }

      .description {
        font-size: 10px;
        margin: 0;
        overflow: hidden;
        max-height: 55px;
      }

      .tags {
        margin: 7px 0 0;
        max-height: 60px;
        overflow: hidden;
        font-size: 11px;
        .tag {
          font-weight: normal;
        }
      }
    }

    .caption,
    .image {
      z-index: 2;
      opacity: 1;
      position: relative;
      .transition(~"opacity 0.3s");
    }

    
  }
}